.navbar-brand {
  font-family: "Jua";
  font-style: normal;
}

.active {
  border-bottom: solid 2px var(--bs-primary);
}

.nav-item:hover {
  border-bottom: solid 2px var(--bs-primary);
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--bs-primary);
  color: white;
  cursor: pointer;
}
