<div
  class="d-flex flex-column min-vh-100 justify-content-center align-items-center"
>
  <div class="container row bg-primary shadow-lg">
    <div class="col py-5 px-4">
      <h3 class="fst-italic mb-4">Calculate the show time</h3>
      <form [formGroup]="showForm" (ngSubmit)="calculateTime()">
        <div class="mb-3">
          <p>Do you want to calculate by the</p>
          <div class="d-flex mb-3">
            <label for="watchingByEp" class="form-check-label"
              >watching time per day</label
            >
            <div class="form-switch form-check ms-2">
              <input
                type="checkbox"
                class="form-check-input"
                id="watchingByEp"
                formControlName="watchingByEp"
              />
            </div>
            <label for="watchingByEp" class="form-check-label"
              >number of episodes per day</label
            >
          </div>
          <div class="input-group mb-3" *ngIf="watchingByEp">
            <label class="input-group-text" for="watchEp"
              >Episode number per day</label
            >
            <input
              type="number"
              class="form-control"
              aria-label="watchEp"
              id="watchEp"
              placeholder="The number of episodes per day"
              formControlName="watchEp"
            />
          </div>
          <div class="input-group mb-3" *ngIf="!watchingByEp">
            <label class="input-group-text" for="watchTime"
              >Watching time per day</label
            >
            <input
              type="time"
              class="form-control"
              aria-label="watchTime"
              id="watchTime"
              placeholder="The watching time in hours"
              formControlName="watchTime"
            />
          </div>
        </div>
        <div class="input-group mb-3">
          <ng-template #rt let-r="result" let-t="term">
            <img [src]="r['img']" class="mx-1" style="width: 50px" />
            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
          </ng-template>
          <label class="input-group-text" for="showName">Show name</label>
          <input
            id="showName"
            type="text"
            class="form-control"
            [(ngModel)]="model"
            [ngbTypeahead]="search"
            [resultTemplate]="rt"
            [inputFormatter]="formatter"
            formControlName="showName"
          />
        </div>
        <div class="mb-3">
          <p>You can't find your show?</p>

          <div class="form-check form-switch form-check-reverse">
            <input
              class="form-check-input"
              type="checkbox"
              id="showForm"
              formControlName="isShowForm"
            />
            <label class="form-check-label" for="showForm"
              >I want to enter the details myself</label
            >
          </div>
        </div>
        <div *ngIf="isShowForm">
          <div class="input-group mb-3">
            <label class="input-group-text" for="seasonsNbr"
              >Season number</label
            >
            <input
              type="number"
              class="form-control"
              placeholder="The number of seasons"
              aria-label="seasonsNbr"
              id="seasonsNbr"
              formControlName="seasonsNbr"
            />
          </div>
          <div
            class="input-group mb-3"
            *ngFor="let i of Arr(seasonNbr).fill(1); let x = index"
          >
            <label class="input-group-text" for="episodesNbr"
              >Episode number for season {{ x + 1 }}</label
            >
            <input
              type="number"
              class="form-control"
              placeholder="Number of episodes in season {{ x + 1 }}"
              aria-label="episodesNbr"
              id="episodesNbr"
              formControlName="episodesNbr"
            />
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="duration"
              >Duration of an episode</label
            >
            <input
              type="time"
              class="form-control"
              aria-label="duration"
              id="duration"
              placeholder="Duration of an episode"
              formControlName="duration"
            />
          </div>
        </div>
        <div class="mb-3">
          <p>
            Did you start the show already? Please enter the season and episode
            you are in
          </p>

          <div class="row">
            <div class="col mb-3">
              <label for="currentSeason" class="form-label"
                >Current season I'm at</label
              >
              <input
                type="number"
                class="form-control"
                id="currentSeason"
                placeholder="The season I'm at"
                formControlName="currentSeason"
              />
            </div>
            <div class="col mb-3">
              <label for="currentEpisode" class="form-label"
                >Current episode I'm at</label
              >
              <input
                type="number"
                class="form-control"
                id="currentEpisode"
                placeholder="The episode in the season I'm at"
                formControlName="currentEpisode"
              />
            </div>
          </div>
        </div>
        <div class="d-md-flex justify-content-md-end">
          <button class="btn btn-dark">
            <i class="fa-solid fa-calculator"></i> Calculate
          </button>
        </div>
      </form>
    </div>
    <div class="col result py-5 px-4">
      <div class="bg-light rounded p-3">
        <h4 class="text-center fst-italic mb-4">Result</h4>
        <p>The time it takes for you to finish the show "the show name" is:</p>
        <div
          class="row bg-secondary rounded p-2 mx-5 d-flex justify-content-between align-items-center text-center"
        >
          <div class="col bg-light m-1 pt-2 rounded text-dark">
            <h2 class="m-0">03</h2>
            <p>Months</p>
          </div>
          <div class="col bg-light m-1 pt-2 rounded text-dark">
            <h2 class="m-0">08</h2>
            <p>Days</p>
          </div>
          <div class="col bg-light m-1 pt-2 rounded text-dark">
            <h2 class="m-0">16</h2>
            <p>Hours</p>
          </div>
          <div class="col bg-light m-1 pt-2 rounded text-dark">
            <h2 class="m-0">40</h2>
            <p>Minutes</p>
          </div>
        </div>
        <div class="row d-flex justify-content-between">
          <div class="col m-1 pt-2">
            <p>Number of episodes you can finish per day</p>
            <div class="d-flex justify-content-center">
              <h3
                class="rounded-circle bg-secondary d-flex flex-column justify-content-center align-items-center text-white"
              >
                03
              </h3>
            </div>
          </div>
          <div class="col m-1 pt-2">
            <p>Number of episodes you can finish per week</p>
            <div class="d-flex justify-content-center">
              <h3
                class="rounded-circle bg-secondary d-flex justify-content-center align-items-center text-white"
              >
                21
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
