/* You can add global styles to this file, and also import other style files */
$primary: rgba(214, 48, 48);
$secondary: #2d3436;
$light: #ecf0f1;

@import "../node_modules/bootstrap/scss/bootstrap";

:root {
  --bs-primary: rgba(214, 48, 48);
  --bs-secondary: #2d3436;
}

body {
  background-color: #2d3436;
  color: #ecf0f1;
  font-family: "Helvetica";
}
